---
import { CreateAccountForm } from "@/components/CreateAccountForm";
import { AccountSelector } from "@/components/profile/AccountSelector";
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import { getContextFromCookies } from "@/server/get-context";

const accountContext = await getContextFromCookies(Astro.cookies);

if (!accountContext.user) {
  return Astro.redirect("/sign-in");
}
---

<Layout>
  <div class="container max-w-lg">
    <Card className="mt-5">
      <CardHeader>
        <CardTitle>Select account</CardTitle>
        <CardDescription>
          When you are part of multiple accounts you can select them here.
        </CardDescription>
      </CardHeader>
      <CardContent>
        <AccountSelector context={accountContext} client:load />
      </CardContent>
    </Card>
    <Card className="mt-5">
      <CardHeader>
        <CardTitle>Account name</CardTitle>
        <CardDescription>
          When you are part of multiple accounts you can select them here.
        </CardDescription>
      </CardHeader>
      <CardContent>
        <CreateAccountForm context={accountContext} client:load />
      </CardContent>
    </Card>
  </div>
</Layout>
