---
import { getUserFromSession } from "../queries/get-user";
import '../styles/global.css'

const user = await getUserFromSession(Astro.cookies.get('session')?.value)

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-slate-500">
    <head>
      {user && user.name}
      {user && <img src={user.image} />}
      {!user ? <a href="/sign-in" >{'Sign in'}</a> : <a href="/sign-out" >{'Sign out'}</a> }
    </head>

		<slot/>
	</body>
</html>