---
import { getLocals } from "@/server/middleware";
import "../styles/global.css";

const {
  context: { user, account, accountUser },
} = getLocals(Astro);

const serializedContext = JSON.stringify({
  user,
  account,
  accountUser,
});
---

<html lang="en">
  <head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Noodle</title>
    <!-- Include Context -->
    {
      user && (
        <script
          define:vars={{ serializedContext }}
        >{`window.__ASTRO_CONTEXT__ = ${serializedContext}`}</script>
      )
    }
  </head>
  <body>
    <header>
      <div class="flex justify-between p-3 bg-background">
        <div class="text-xl">
          <a href="/">
            {"Noodle"}
          </a>
        </div>
        <div>
          {
            user && (
              <a class="flex flex-row align-middle" href="/profile">
                <>
                  <img src={user.image} class="rounded-full w-8 h-8" />
                  <span class="ml-2 mt-1">{"@" + account.name}</span>
                </>
              </a>
            )
          }
          {!user && <a href="/sign-in">{"Sign in"}</a>}
        </div>
      </div>
    </header>
    <slot />
  </body>
</html>
