---
import { getContextFromCookies } from "@/server/get-context";
import "../styles/global.css";

const accountContext = await getContextFromCookies(Astro.cookies);
const { account, user } = accountContext;
---

<html lang="en">
  <head>
    <!-- Meta data -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Noodle</title>
  </head>
  <body>
    <header>
      <div class="flex justify-between p-3 bg-background">
        <div class="text-xl">
          <a href="/">
            {"Noodle"}
          </a>
        </div>
        <div>
          {
            user && account && (
              <a class="flex flex-row align-middle" href="/profile">
                <>
                  <img src={user.image} class="rounded-full w-8 h-8" />
                  <span class="ml-2 mt-1">{"@" + account.name}</span>
                </>
              </a>
            )
          }
          {!user && <a href="/sign-in">{"Sign in"}</a>}
        </div>
      </div>
    </header>
    <slot />
  </body>
</html>
