---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

import {db} from '../db'
import { UsersTable } from "../schema";

/* Check if the user is authenticated */
const auth = getAuth(app);
let decodedCookie;

const allUsers = await db.select().from(UsersTable);
console.log(allUsers)

if (Astro.cookies.has("session")) {
  const sessionCookie = Astro.cookies.get("session")?.value;
  if (sessionCookie) {
    decodedCookie = await auth.verifySessionCookie(sessionCookie);
  }
} 
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <head>
      {decodedCookie && decodedCookie.name}
      {decodedCookie && <img src={decodedCookie.picture} />}
      {!decodedCookie ? <a href="/sign-in" >{'Sign in'}</a> : <a href="/sign-out" >{'Sign out'}</a> }
    </head>
		<slot/>
	</body>
</html>
