---
import { contextFromSession } from "@/queries/context-from-session";
import '../styles/global.css';

const {user, account} = await contextFromSession(Astro);

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <header>
			<div class="flex justify-between p-3 bg-background-900">
				<div class="text-xl">
					<a href="/">
						{'Noodle'}
					</a>
				</div>
				<div>
					{user && <a class="flex flex-row align-middle" href="/profile"><img src={user.image} class="rounded-full w-8 h-8"  /><span class="ml-2 mt-1">{'@'+account.name}</span></a>}
					{!user && <a href="/sign-in" >{'Sign in'}</a> }
				</div>
			</div>
    </header>
		<slot/>
	</body>
</html>