---
import {SignOut} from '../components/SignOut.tsx'
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

/* Check if the user is authenticated */
const auth = getAuth(app);
let decodedCookie;
if (Astro.cookies.has("session")) {
  const sessionCookie = Astro.cookies.get("session").value;
  decodedCookie = await auth.verifySessionCookie(sessionCookie);
} else {
  console.log(":(");
}
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <head>
      {decodedCookie && decodedCookie.name}
      {decodedCookie && <img src={decodedCookie.picture} />}
      {!decodedCookie ? <a href="/sign-in" >{'Sign in'}</a> : <a href="/sign-out" >{'Sign out'}</a> }
    </head>
		<slot/>
	</body>
</html>
